<body >
  <form action="" class="container g-3 mx-auto position-absolute top-50 start-50 translate-middle" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h2>Cadastro do veiculo</h2>
      <div class="row mb-3">
        <label for="modelo" class="col-sm-2 col-form-label">Modelo do veículo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="modelo" required ngModel #modelo="ngModel" name="modelo">
        </div>
      </div>
      <div class="row mb-3">
        <label for="marca" class="col-sm-2 col-form-label">Marca do veículo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="marca" required ngModel #marca="ngModel" name="marca">
        </div>
      </div>
      <div class="row mb-3">
        <label for="chassi" class="col-sm-2 col-form-label">Chassi do veículo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chassi" required ngModel #chassi="ngModel" name="chassi">
        </div>
      </div>
      <div class="row mb-3">
        <label for="placa" class="col-sm-2 col-form-label">Placa do veículo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="placa" required ngModel #placa="ngModel" name="placa">
        </div>
      </div>
      <div class="row mb-3">
        <label for="km" class="col-sm-2 col-form-label">Km autal do veículo</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="km" required ngModel #km="ngModel" name="km">
        </div>
      </div>
      <div class="row mb-3">
        <label for="dataVenda" class="col-sm-2 col-form-label">Data e hora da venda</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="dataVenda" required ngModel #dataVenda="ngModel" name="dataVenda">
        </div>
      </div>
      <div class="row mb-3">
        <label for="dataGrnt" class="col-sm-2 col-form-label">Data do final da garantia</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="dataGrnt" required ngModel #dataGrnt="ngModel" name="dataGrnt">
        </div>
      </div>
      <div class="row mb-3">
        <label for="cor" class="col-sm-2 col-form-label">Cor do veículo</label>
        <div class="col-sm-10">
          <input type="color" class="form-control" id="cor" required ngModel #cor="ngModel" name="cor">
        </div>
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Adicionais</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="freioABS" id="freioABS" value="sim"  ngModel #freioABS="ngModel">
            <label class="form-check-label" for="freioABS">
              Freio abs
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="multimidia" id="multimidia" value="sim" ngModel #multimidia="ngModel">
            <label class="form-check-label" for="multimidia">
              Multimidia
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" name="roda" id="roda" value="sim" ngModel  #roda="ngModel">
            <label class="form-check-label" for="roda">
              Roda aro 17
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" name="corPers" id="corPers" value="sim" ngModel  #corPers="ngModel">
            <label class="form-check-label" for="corPers">
              Cor personalizada
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" name="wifi" id="wifi" value="sim"  ngModel #wifi="ngModel">
            <label class="form-check-label" for="wifi">
              Wi-fi
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="checkbox" name="seguro" id="seguro" value="sim"  ngModel #seguro="ngModel">
            <label class="form-check-label" for="seguro">
              Seguro
            </label>
          </div>
        </div>
      </fieldset>

      <input type="submit" class="btn btn-primary " (click)="onSubmit">
  </form>
</body>
